* {
  font-family: 'Courier New', Courier, monospace;
}

.header {
  color: black;
}

.menu {
  color: black;
}

.services {
  color: black;
}

.choice {
  color: black;
}

.pricing {
  color: black;
}
